body 
{
	font-family:"Times New Roman", Times, serif;
	/*background: #e3e3e3;*/
       background-color:#d6bcc3;
}

html
{
	height:61%;width:20%
}

a:hover 
{
	color:green 
}

a 
{
	text-decoration:none
}
         
select 
{
        background: rgba(255,255,255,0.1) repeat-x 0 0; 
        padding:1px; 
        line-height: 21px;
        border: 0px solid #fff;
}

#execute_button
{
	position:fixed;
	top:192px;
	left:2px;
	z-index:5;
}
#execute
{
	
	top:192px;
	left:2px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
#code-outer
{
	position:absolute;
	top:0px;
	/*left:35px;*/	
	left:45px;	
	overflow:auto;	
   	/*height: 420px;/*change*/
  	/*width:368px;/*change*/
 	/* This is needed to prevent an IE[67] bug where the scrolled content is visible outside of the scrolling box. */
 	/* position: relative;*/
  	outline: none;
/*	border: 0px;/*change*/
/*	border-style:inset;/*change*/
	border: 0px solid #D6D6D6;
	border-width: 0px;
	border-color: black;/*change*/
	background-color: black;/*change*/
	/*border-radius: 17px;*//*change*/
}

